body{height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 1.8em;
    background-color: bisque;
}


button{
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
}